In [1]:
import pandas as pd
import numpy as np
#import os

In [5]:
df_a = pd.read_csv("../raw_data/전체데이터_2011_KOSPI+KOSDAQ.csv", encoding="CP949")
df_b = pd.read_csv("../csv_data/use/금융비용부담률_전처리.csv", encoding="CP949")
df_c = pd.read_csv("../csv_data/use/부채비율_전처리.csv", encoding="CP949")
df_d = pd.read_csv("../csv_data/use/유동비율_전처리.csv", encoding="CP949")

In [9]:
df_b.drop(columns=["Unnamed: 0"], inplace=True)
df_c.drop(columns=["Unnamed: 0"], inplace=True)
df_d.drop(columns=["Unnamed: 0"], inplace=True)

In [15]:
df_b.iloc[:,-2:]

       금융비용부담률(개별)  금융비용부담률(연결)
0              0.0          0.0
1              0.0          0.0
2              0.0          0.0
3              0.0          0.0
4              0.0          0.0
...            ...          ...
15145          0.0          0.0
15146          0.0          0.0
15147          0.0          0.0
15148          0.0          0.0
15149          0.0          0.0

[15150 rows x 2 columns]

In [17]:
df_a = pd.concat([df_a, df_b.iloc[:,-2:]], axis=1)
df_a

,회사명,거래소코드,회계년도,이자보상배율(이자비용)(IFRS),이자보상배율(이자비용)(IFRS연결),금융비용부담률(개별),금융비용부담률(연결)
0,(주)CMG제약,58820,2011/12,3.94,3.53,0.0,0.0
1,(주)CMG제약,58820,2012/12,-7.45,-7.75,0.0,0.0
2,(주)CMG제약,58820,2013/12,0.73,0.70,0.0,0.0
3,(주)CMG제약,58820,2014/12,3.63,3.60,0.0,0.0
4,(주)CMG제약,58820,2015/12,-32.20,-32.22,0.0,0.0
...,...,...,...,...,...,...,...
15145,흥아해운(주),3280,2015/12,0.79,1.02,0.0,0.0
15146,흥아해운(주),3280,2016/12,0.04,0.21,0.0,0.0
15147,흥아해운(주),3280,2017/12,-0.61,-0.42,0.0,0.0
15148,흥아해운(주),3280,2018/12,-1.26,-1.16,0.0,0.0
15149,흥아해운(주),3280,2019/12,-0.58,-0.55,0.0,0.0