In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("../csv_data/00_이자보상배율.csv", encoding="CP949")
df.drop(columns=['Unnamed: 0'], inplace=True)

In [7]:
df['회계년도'] = pd.to_datetime(df['회계년도'].str.upper(), format="%d-%b", yearfirst=False).dt.strftime("20%d")
df

            회사명  거래소코드  회계년도  이자보상배율
0      (주)CMG제약  58820  2011    3.53
1      (주)CMG제약  58820  2012   -7.75
2      (주)CMG제약  58820  2013    0.70
3      (주)CMG제약  58820  2014    3.60
4      (주)CMG제약  58820  2015  -32.22
...         ...    ...   ...     ...
15145   흥아해운(주)   3280  2015    1.02
15146   흥아해운(주)   3280  2016    0.21
15147   흥아해운(주)   3280  2017   -0.42
15148   흥아해운(주)   3280  2018   -1.16
15149   흥아해운(주)   3280  2019    0.00

[15150 rows x 4 columns]

In [8]:
df2 = df.sort_values('회계년도')
df2

              회사명   거래소코드  회계년도   이자보상배율
0        (주)CMG제약   58820  2011     3.53
5994   (주)이엔코퍼레이션   66980  2011    -2.42
6003     (주)이엔플러스   74610  2011    -5.61
6015       (주)이엠넷  123570  2011    91.47
6024     (주)이엠앤아이   83470  2011     0.11
...           ...     ...   ...      ...
13319   제이씨케미칼(주)  137950  2019     4.63
6103     (주)이크레더블   92130  2019  1894.52
6112       (주)이퓨쳐  134060  2019    35.81
13310  제이스코홀딩스(주)   23440  2019    -7.33
15149     흥아해운(주)    3280  2019     0.00

[15150 rows x 4 columns]

In [12]:
c = -10
d = -5

if c < 0 and d < 0 : print(c/d*-1)
else: print(c/d)

-2.0

In [26]:
df_test = pd.read_csv("../csv_data/00_매출감소율.csv", encoding="CP949")
df_test

,Unnamed: 0,회사명,거래소코드,회계년도,이자보상배율,매출액(수익)(*)(IFRS)(천원),매출원가(*)(IFRS)(천원),매출액(수익)(*)(IFRS연결)(천원),매출원가(*)(IFRS연결)(천원),통계청 한국표준산업분류 10차(중분류),매출액(수익)감소,매출원가감소,매출액(수익)감소(연결),매출원가감소(연결)
0,0,(주)CMG제약,58820,2011,3.53,17751704.0,10325799.0,17751704.0,10325799.0,의료용 물질 및 의약품 제조업,NaN,NaN,NaN,NaN
1,1,(주)CMG제약,58820,2012,-7.75,16255389.0,11648690.0,16255389.0,11648690.0,의료용 물질 및 의약품 제조업,0.092050,-0.113566,0.092050,-0.113566
2,2,(주)CMG제약,58820,2013,0.70,20322140.0,12506817.0,20402140.0,12506817.0,의료용 물질 및 의약품 제조업,-0.200114,-0.068613,-0.203251,-0.068613
3,3,(주)CMG제약,58820,2014,3.60,22752584.0,14318048.0,22752584.0,14318048.0,의료용 물질 및 의약품 제조업,-0.106821,-0.126500,-0.103304,-0.126500
4,4,(주)CMG제약,58820,2015,-32.22,27041894.0,17237814.0,27041894.0,17237814.0,의료용 물질 및 의약품 제조업,-0.158617,-0.169381,-0.158617,-0.169381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15145,15145,흥아해운(주),3280,2015,1.02,801560945.0,763642673.0,845115359.0,792690121.0,수상 운송업,-0.015357,-0.012346,-0.023630,-0.017475
15146,15146,흥아해운(주),3280,2016,0.21,779990350.0,756984914.0,831746081.0,794370084.0,수상 운송업,0.027655,0.008795,0.016074,-0.002115
15147,15147,흥아해운(주),3280,2017,-0.42,780863972.0,778062692.0,836427496.0,818958179.0,수상 운송업,-0.001119,-0.027090,-0.005597,-0.030024
15148,15148,흥아해운(주),3280,2018,-1.16,705007198.0,724528226.0,753865569.0,760867431.0,수상 운송업,0.107597,0.073889,0.109518,0.076348
15149,15149,흥아해운(주),3280,2019,0.00,97376909.0,98752599.0,102166838.0,96504366.0,수상 운송업,6.239983,6.336802,6.378770,6.884280

In [27]:
df_test.columns

Index(['Unnamed: 0', '회사명', '거래소코드', '회계년도', '이자보상배율', '매출액(수익)(*)(IFRS)(천원)',
       '매출원가(*)(IFRS)(천원)', '매출액(수익)(*)(IFRS연결)(천원)', '매출원가(*)(IFRS연결)(천원)',
       '통계청 한국표준산업분류 10차(중분류)', '매출액(수익)감소', '매출원가감소', '매출액(수익)감소(연결)',
       '매출원가감소(연결)'],
      dtype='object')

In [28]:
# 위에 있는 columns로 필요한 컬럼 확인하고 복붙하세요
df_test = df_test[['매출액(수익)감소', '매출원가감소', '매출액(수익)감소(연결)','매출원가감소(연결)']]
df_test

       매출액(수익)감소    매출원가감소  매출액(수익)감소(연결)  매출원가감소(연결)
0            NaN       NaN            NaN         NaN
1       0.092050 -0.113566       0.092050   -0.113566
2      -0.200114 -0.068613      -0.203251   -0.068613
3      -0.106821 -0.126500      -0.103304   -0.126500
4      -0.158617 -0.169381      -0.158617   -0.169381
...          ...       ...            ...         ...
15145  -0.015357 -0.012346      -0.023630   -0.017475
15146   0.027655  0.008795       0.016074   -0.002115
15147  -0.001119 -0.027090      -0.005597   -0.030024
15148   0.107597  0.073889       0.109518    0.076348
15149   6.239983  6.336802       6.378770    6.884280

[15150 rows x 4 columns]

In [34]:
for i in range(0, len(df_test)):
    if df_test.iloc[i]['매출액(수익)감소'] < 0 and df_test.iloc[i]['매출원가감소'] < 0 :
        df_test.loc[i, '예시1'] = df_test.iloc[i]['매출액(수익)감소'] / df_test.iloc[i]['매출원가감소'] * -1
    # elif df_test.iloc[i]['매출원가감소'] == 0:
    #     df_test.loc[i, '예시1'] = 0
    else:
        df_test.loc[i, '예시1'] = df_test.iloc[i]['매출액(수익)감소'] / df_test.iloc[i]['매출원가감소']

C:\Users\luck1\AppData\Local\Temp\ipykernel_16848\4013760793.py:7: RuntimeWarning: invalid value encountered in double_scalars
  df_test.loc[i, '예시1'] = df_test.iloc[i]['매출액(수익)감소'] / df_test.iloc[i]['매출원가감소']

In [33]:
df_test

       매출액(수익)감소    매출원가감소  매출액(수익)감소(연결)  매출원가감소(연결)       예시1
0            NaN       NaN            NaN         NaN       NaN
1       0.092050 -0.113566       0.092050   -0.113566 -0.810548
2      -0.200114 -0.068613      -0.203251   -0.068613 -2.916576
3      -0.106821 -0.126500      -0.103304   -0.126500 -0.844432
4      -0.158617 -0.169381      -0.158617   -0.169381 -0.936450
...          ...       ...            ...         ...       ...
15145  -0.015357 -0.012346      -0.023630   -0.017475 -1.243880
15146   0.027655  0.008795       0.016074   -0.002115  3.144358
15147  -0.001119 -0.027090      -0.005597   -0.030024 -0.041299
15148   0.107597  0.073889       0.109518    0.076348  1.456205
15149   6.239983  6.336802       6.378770    6.884280  0.984721

[15150 rows x 5 columns]

In [36]:
# 자기자본순이익률 = 당기/자기자본 * 100

df_rate_a = pd.read_csv("../raw_data/자기자본순이익률_IFRS개별Raw.csv", encoding="CP949")
df_rate_b = pd.read_csv("../raw_data/자기자본순이익률_IFRS연결Raw.csv", encoding="CP949")

In [37]:
df_rate_a.head(1)

        회사명  거래소코드     회계년도  [제조]당기순이익(손실)(IFRS)  [제조]자본(*)(IFRS)
0  (주)CMG제약  58820  2011/12           -1264488.0       18290915.0

In [38]:
df_rate_b.head(1)

        회사명  거래소코드     회계년도  [제조]당기순이익(손실)(IFRS연결)  [제조]자본(*)(IFRS연결)
0  (주)CMG제약  58820  2011/12             -1508282.0         18034249.0

In [40]:
for i in range(0, len(df_rate_a)):
    if df_rate_a.iloc[i]["[제조]당기순이익(손실)(IFRS)"] < 0 and df_rate_a.iloc[i]["[제조]자본(*)(IFRS)"] < 0 :
        df_rate_a.loc[i, "자기자본순이익률(개별)"] = df_rate_a.iloc[i]["[제조]당기순이익(손실)(IFRS)"] / df_rate_a.iloc[i]["[제조]자본(*)(IFRS)"] * -100
    # elif df_rate_a.iloc[i]['[제조]자본(*)(IFRS)'] == 0:
    #     df_rate_a.loc[i, '예시1'] = 0
    else:
        df_rate_a.loc[i, "자기자본순이익률(개별)"] = df_rate_a.iloc[i]["[제조]당기순이익(손실)(IFRS)"] / df_rate_a.iloc[i]["[제조]자본(*)(IFRS)"] * 100

In [41]:
df_rate_a.to_csv("../csv_data/자기자본테스트.csv", encoding="CP949")

In [42]:
df_rate_a.loc[193:196]

,회사명,거래소코드,회계년도,[제조]당기순이익(손실)(IFRS),[제조]자본(*)(IFRS),자기자본순이익률(개별)
193,(주)고려시멘트,198440,2014/12,NaN,NaN,NaN
194,(주)고려시멘트,198440,2015/12,NaN,NaN,NaN
195,(주)고려시멘트,198440,2016/12,NaN,NaN,NaN
196,(주)고려시멘트,198440,2017/12,1003761.0,77394108.0,1.296948