In [517]:
import pandas as pd
import numpy as np

In [518]:
df = pd.read_csv("../checking2.csv", thousands=",", encoding="CP949")
df.drop(columns=["Unnamed: 0", "count"], inplace=True)

In [519]:
df['부실기업'] = df['부실기업'].fillna(0)

In [520]:
df

            회사명  거래소코드    회계년도  이자보상배율  부실기업
0      (주)CMG제약  58820  11-Dec    3.53   0.0
1      (주)CMG제약  58820  12-Dec   -7.75   0.0
2      (주)CMG제약  58820  13-Dec    0.70   1.0
3      (주)CMG제약  58820  14-Dec    3.60   0.0
4      (주)CMG제약  58820  15-Dec  -32.22   0.0
...         ...    ...     ...     ...   ...
15145   흥아해운(주)   3280  15-Dec    1.02   0.0
15146   흥아해운(주)   3280  16-Dec    0.21   0.0
15147   흥아해운(주)   3280  17-Dec   -0.42   1.0
15148   흥아해운(주)   3280  18-Dec   -1.16   1.0
15149   흥아해운(주)   3280  19-Dec   -0.55   1.0

[15150 rows x 5 columns]

In [521]:
df['이보배2'] = df['이자보상배율'].shift(-1).where(df['회사명']==(df['회사명']).shift(-1))
df

            회사명  거래소코드    회계년도  이자보상배율  부실기업   이보배2
0      (주)CMG제약  58820  11-Dec    3.53   0.0  -7.75
1      (주)CMG제약  58820  12-Dec   -7.75   0.0   0.70
2      (주)CMG제약  58820  13-Dec    0.70   1.0   3.60
3      (주)CMG제약  58820  14-Dec    3.60   0.0 -32.22
4      (주)CMG제약  58820  15-Dec  -32.22   0.0   0.00
...         ...    ...     ...     ...   ...    ...
15145   흥아해운(주)   3280  15-Dec    1.02   0.0   0.21
15146   흥아해운(주)   3280  16-Dec    0.21   0.0  -0.42
15147   흥아해운(주)   3280  17-Dec   -0.42   1.0  -1.16
15148   흥아해운(주)   3280  18-Dec   -1.16   1.0  -0.55
15149   흥아해운(주)   3280  19-Dec   -0.55   1.0    NaN

[15150 rows x 6 columns]

In [522]:
df.head(30)

         회사명  거래소코드    회계년도  이자보상배율  부실기업    이보배2
0   (주)CMG제약  58820  11-Dec    3.53   0.0   -7.75
1   (주)CMG제약  58820  12-Dec   -7.75   0.0    0.70
2   (주)CMG제약  58820  13-Dec    0.70   1.0    3.60
3   (주)CMG제약  58820  14-Dec    3.60   0.0  -32.22
4   (주)CMG제약  58820  15-Dec  -32.22   0.0    0.00
5   (주)CMG제약  58820  16-Dec    0.00   0.0    0.00
6   (주)CMG제약  58820  17-Dec    0.00   0.0    0.00
7   (주)CMG제약  58820  18-Dec    0.00   0.0  303.00
8   (주)CMG제약  58820  19-Dec  303.00   0.0     NaN
9   (주)DB하이텍    990  11-Dec   -0.75   0.0   -0.31
10  (주)DB하이텍    990  12-Dec   -0.31   1.0   -0.16
11  (주)DB하이텍    990  13-Dec   -0.16   1.0    0.67
12  (주)DB하이텍    990  14-Dec    0.67   1.0    2.50
13  (주)DB하이텍    990  15-Dec    2.50   0.0    4.41
14  (주)DB하이텍    990  16-Dec    4.41   0.0    6.05
15  (주)DB하이텍    990  17-Dec    6.05   0.0    6.77
16  (주)DB하이텍    990  18-Dec    6.77   0.0   13.44
17  (주)DB하이텍    990  19-Dec   13.44   0.0     NaN
18   (주)ES큐브  50120  11-Dec -245.99   0.0    1.72
19   (주)ES큐브  50120  12-Dec    1.72   0.0  -37.44
20   (주)ES큐브  50120  13-Dec  -37.44   0.0   22.20
21   (주)ES큐브  50120  14-Dec   22.20   0.0  -11.86
22   (주)ES큐브  50120  15-Dec  -11.86   0.0    8.98
23   (주)ES큐브  50120  16-Dec    8.98   0.0    2.86
24   (주)ES큐브  50120  17-Dec    2.86   0.0   -0.82
25   (주)ES큐브  50120  18-Dec   -0.82   0.0   -0.68
26   (주)ES큐브  50120  19-Dec   -0.68   1.0     NaN
27  (주)HJ중공업  97230  11-Dec    0.55   0.0    0.27
28  (주)HJ중공업  97230  12-Dec    0.27   1.0   -0.40
29  (주)HJ중공업  97230  13-Dec   -0.40   1.0   -0.88

In [523]:
df2 = df[['회사명', '거래소코드', '회계년도', '이자보상배율', '이보배2', '부실기업']]
df2

            회사명  거래소코드    회계년도  이자보상배율   이보배2  부실기업
0      (주)CMG제약  58820  11-Dec    3.53  -7.75   0.0
1      (주)CMG제약  58820  12-Dec   -7.75   0.70   0.0
2      (주)CMG제약  58820  13-Dec    0.70   3.60   1.0
3      (주)CMG제약  58820  14-Dec    3.60 -32.22   0.0
4      (주)CMG제약  58820  15-Dec  -32.22   0.00   0.0
...         ...    ...     ...     ...    ...   ...
15145   흥아해운(주)   3280  15-Dec    1.02   0.21   0.0
15146   흥아해운(주)   3280  16-Dec    0.21  -0.42   0.0
15147   흥아해운(주)   3280  17-Dec   -0.42  -1.16   1.0
15148   흥아해운(주)   3280  18-Dec   -1.16  -0.55   1.0
15149   흥아해운(주)   3280  19-Dec   -0.55    NaN   1.0

[15150 rows x 6 columns]

In [524]:
df2.head(15)

         회사명  거래소코드    회계년도  이자보상배율    이보배2  부실기업
0   (주)CMG제약  58820  11-Dec    3.53   -7.75   0.0
1   (주)CMG제약  58820  12-Dec   -7.75    0.70   0.0
2   (주)CMG제약  58820  13-Dec    0.70    3.60   1.0
3   (주)CMG제약  58820  14-Dec    3.60  -32.22   0.0
4   (주)CMG제약  58820  15-Dec  -32.22    0.00   0.0
5   (주)CMG제약  58820  16-Dec    0.00    0.00   0.0
6   (주)CMG제약  58820  17-Dec    0.00    0.00   0.0
7   (주)CMG제약  58820  18-Dec    0.00  303.00   0.0
8   (주)CMG제약  58820  19-Dec  303.00     NaN   0.0
9   (주)DB하이텍    990  11-Dec   -0.75   -0.31   0.0
10  (주)DB하이텍    990  12-Dec   -0.31   -0.16   1.0
11  (주)DB하이텍    990  13-Dec   -0.16    0.67   1.0
12  (주)DB하이텍    990  14-Dec    0.67    2.50   1.0
13  (주)DB하이텍    990  15-Dec    2.50    4.41   0.0
14  (주)DB하이텍    990  16-Dec    4.41    6.05   0.0

In [525]:
for i in range(0, len(df2)):
    if df2.iloc[i]['이자보상배율'] < 1 and df2.iloc[i]['이보배2'] > 1 and df2.iloc[i]['부실기업']==1:
        df2.loc[i, '회생여부'] = 1

C:\Users\luck1\AppData\Local\Temp\ipykernel_11316\2060355530.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.loc[i, '회생여부'] = 1

In [526]:
df2["회생여부"] = df2["회생여부"].shift().where(df['회사명']==(df['회사명']).shift())

C:\Users\luck1\AppData\Local\Temp\ipykernel_11316\2328439072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["회생여부"] = df2["회생여부"].shift().where(df['회사명']==(df['회사명']).shift())

In [527]:
df2

            회사명  거래소코드    회계년도  이자보상배율   이보배2  부실기업  회생여부
0      (주)CMG제약  58820  11-Dec    3.53  -7.75   0.0   NaN
1      (주)CMG제약  58820  12-Dec   -7.75   0.70   0.0   NaN
2      (주)CMG제약  58820  13-Dec    0.70   3.60   1.0   NaN
3      (주)CMG제약  58820  14-Dec    3.60 -32.22   0.0   1.0
4      (주)CMG제약  58820  15-Dec  -32.22   0.00   0.0   NaN
...         ...    ...     ...     ...    ...   ...   ...
15145   흥아해운(주)   3280  15-Dec    1.02   0.21   0.0   NaN
15146   흥아해운(주)   3280  16-Dec    0.21  -0.42   0.0   NaN
15147   흥아해운(주)   3280  17-Dec   -0.42  -1.16   1.0   NaN
15148   흥아해운(주)   3280  18-Dec   -1.16  -0.55   1.0   NaN
15149   흥아해운(주)   3280  19-Dec   -0.55    NaN   1.0   NaN

[15150 rows x 7 columns]

In [528]:
df2.to_csv("checking4-2.csv", encoding="CP949")

In [529]:
df_x = df2[["회사명","회생여부"]].drop_duplicates()

In [530]:
df_x.dropna()

                회사명  회생여부
3          (주)CMG제약   1.0
13         (주)DB하이텍   1.0
87            (주)ST   1.0
94         (주)TCC스틸   1.0
212        (주)골드앤에스   1.0
...             ...   ...
14909       현대로템(주)   1.0
14926  현대바이오사이언스(주)   1.0
14978       현대위아(주)   1.0
15018       현우산업(주)   1.0
15116       휴림로봇(주)   1.0

[476 rows x 2 columns]

In [531]:
df3 = df2.copy()
df3.drop(columns=["회생여부"], inplace=True)

In [532]:
df3

            회사명  거래소코드    회계년도  이자보상배율   이보배2  부실기업
0      (주)CMG제약  58820  11-Dec    3.53  -7.75   0.0
1      (주)CMG제약  58820  12-Dec   -7.75   0.70   0.0
2      (주)CMG제약  58820  13-Dec    0.70   3.60   1.0
3      (주)CMG제약  58820  14-Dec    3.60 -32.22   0.0
4      (주)CMG제약  58820  15-Dec  -32.22   0.00   0.0
...         ...    ...     ...     ...    ...   ...
15145   흥아해운(주)   3280  15-Dec    1.02   0.21   0.0
15146   흥아해운(주)   3280  16-Dec    0.21  -0.42   0.0
15147   흥아해운(주)   3280  17-Dec   -0.42  -1.16   1.0
15148   흥아해운(주)   3280  18-Dec   -1.16  -0.55   1.0
15149   흥아해운(주)   3280  19-Dec   -0.55    NaN   1.0

[15150 rows x 6 columns]

In [533]:
df_temp = pd.read_csv("test2.csv", thousands=",", encoding="CP949")
df_temp.drop(columns=["Unnamed: 0"], inplace=True)

In [534]:
df_complete = pd.read_csv("./00_real_real_complete.csv", thousands=",", encoding="CP949")
df_complete.drop(columns=["Unnamed: 0"], inplace=True)

In [535]:
df_complete = df_complete.iloc[:, :4]
#df_complete

In [536]:
df_complete.head(3)

     회사명  거래소코드    회계년도  이자보상배율
0  CMG제약  58820  Dec-11    3.53
1  CMG제약  58820  Dec-12   -7.75
2  CMG제약  58820  Dec-13    0.70

In [537]:
# 전체 기록
f_test_x = []
count = 0
company = df_complete.iloc[0]['회사명']

for i in range(0, len(df_complete)):

    # 회사명 다르면
    if company != df_complete.iloc[i]['회사명']:
        # 회사명 기록하고
        company = df_complete.iloc[i]['회사명']
        # 카운트 초기화하고
        count = 0

    #df_complete.loc[i, 'count'] = count

    # 이자보상배율이 0이면 탈출
    if df_complete.iloc[i]['이자보상배율'] == 0:
        df_complete.loc[i, '부실기업'] = 0
        f_test_x.append(df_complete.loc[i])
        count = 0
        continue

    elif df_complete.iloc[i]['이자보상배율'] < 1:
         count += 1

    else:
        count = 0

    # 이자보상배율에 따라 부실기업 여부 설정
    if count > 1 and df_complete.iloc[i]['이자보상배율'] >= 1:
        df_complete.loc[i, '부실기업'] = 0
        pass

    elif count > 1 and df_complete.iloc[i]['이자보상배율'] < 1:
        df_complete.loc[i, '부실기업'] = 1

    f_test_x.append(df_complete.loc[i])

In [538]:
df_test = pd.DataFrame(f_test_x)

In [539]:
df_test['이보배2'] = df_test['이자보상배율'].shift(-1).where(df_test['회사명']==(df_test['회사명']).shift(-1))
df_test

        회사명  거래소코드    회계년도  이자보상배율  부실기업     이보배2
0     CMG제약  58820  Dec-11    3.53   NaN    -7.75
1     CMG제약  58820  Dec-12   -7.75   NaN     0.70
2     CMG제약  58820  Dec-13    0.70   1.0     3.60
3     CMG제약  58820  Dec-14    3.60   NaN   -32.22
4     CMG제약  58820  Dec-15  -32.22   NaN  7777.00
...     ...    ...     ...     ...   ...      ...
9015   흥아해운   3280  Dec-14    1.12   NaN     1.02
9016   흥아해운   3280  Dec-15    1.02   NaN     0.21
9017   흥아해운   3280  Dec-16    0.21   NaN    -0.42
9018   흥아해운   3280  Dec-17   -0.42   1.0    -1.16
9019   흥아해운   3280  Dec-18   -1.16   1.0      NaN

[9020 rows x 6 columns]

In [540]:
df_test['부실기업'] = df_test['부실기업'].fillna(0)

In [541]:
for i in range(0, len(df_test)):
    if df_test.iloc[i]['이자보상배율'] < 1 and df_test.iloc[i]['이보배2'] >= 1 and df_test.iloc[i]['부실기업']==1:
        df_test.loc[i, '회생여부'] = 1

In [542]:
df_test.drop(columns=['이보배2'])

        회사명  거래소코드    회계년도  이자보상배율  부실기업  회생여부
0     CMG제약  58820  Dec-11    3.53   0.0   NaN
1     CMG제약  58820  Dec-12   -7.75   0.0   NaN
2     CMG제약  58820  Dec-13    0.70   1.0   1.0
3     CMG제약  58820  Dec-14    3.60   0.0   NaN
4     CMG제약  58820  Dec-15  -32.22   0.0   NaN
...     ...    ...     ...     ...   ...   ...
9015   흥아해운   3280  Dec-14    1.12   0.0   NaN
9016   흥아해운   3280  Dec-15    1.02   0.0   NaN
9017   흥아해운   3280  Dec-16    0.21   0.0   NaN
9018   흥아해운   3280  Dec-17   -0.42   1.0   NaN
9019   흥아해운   3280  Dec-18   -1.16   1.0   NaN

[9020 rows x 6 columns]

In [543]:
df_test["회생여부"] = df_test["회생여부"].shift().where(df['회사명']==(df['회사명']).shift())

In [544]:
#df_test.drop(columns=['이보배2'], inplace=True)

In [545]:
df_test.to_csv("t_add1.csv", encoding="CP949")

In [560]:
df_temp = df_complete.copy()

In [562]:
#df_temp.to_csv("df_temp.csv", encoding="CP949")

In [563]:
df_temp['부실기업'] = df_temp['부실기업'].fillna(0)

In [564]:
# 다음 연도의 이자보상배율을 저장
df_temp['이보배2'] = df_temp['이자보상배율'].shift(-1).where(df_temp['회사명']==(df_temp['회사명']).shift(-1))
df_temp

        회사명  거래소코드    회계년도  이자보상배율  부실기업     이보배2
0     CMG제약  58820  Dec-11    3.53   0.0    -7.75
1     CMG제약  58820  Dec-12   -7.75   0.0     0.70
2     CMG제약  58820  Dec-13    0.70   1.0     3.60
3     CMG제약  58820  Dec-14    3.60   0.0   -32.22
4     CMG제약  58820  Dec-15  -32.22   0.0  7777.00
...     ...    ...     ...     ...   ...      ...
9015   흥아해운   3280  Dec-14    1.12   0.0     1.02
9016   흥아해운   3280  Dec-15    1.02   0.0     0.21
9017   흥아해운   3280  Dec-16    0.21   0.0    -0.42
9018   흥아해운   3280  Dec-17   -0.42   1.0    -1.16
9019   흥아해운   3280  Dec-18   -1.16   1.0      NaN

[9020 rows x 6 columns]

In [565]:
# t+2 이상의 기업들 중 살아난 기업 찾기
# 숫자 2 이상으로 조절해서 나가시면 됩니다
# 밑에 파일명 바꾸는 거 조심하시구요

count = 0
company = df_temp.iloc[0]['회사명']

for i in range(0, len(df_temp)):

    if company != df_temp.iloc[i]['회사명']:
        company = df_temp.iloc[i]['회사명']
        count = 0
        continue # is it?

    if df_temp.iloc[i]['부실기업'] == 1:
        count += 1
        continue

    if count == 1:
        if df_temp.iloc[i]['부실기업'] == 0:
            count = 0

    elif count >= 2:
        # 부실기업이 아니고 이자보상배율과 그 다음해 이자보상배율(이보배2)가 모두 1 이상으로 건실하다고 판단된 경우
        if df_temp.iloc[i]['부실기업'] == 0 and df_temp.iloc[i]['이자보상배율'] >= 1 and df_temp.iloc[i]['이보배2'] >= 1:
            #if df_temp.iloc[i]['이자보상배율'] < 1 and df_temp.iloc[i]['이보배2'] >= 1:
                df_temp.loc[i, "회생기업2"] = 1
        count = 0

In [566]:
df_temp

        회사명  거래소코드    회계년도  이자보상배율  부실기업     이보배2  회생기업3
0     CMG제약  58820  Dec-11    3.53   0.0    -7.75    NaN
1     CMG제약  58820  Dec-12   -7.75   0.0     0.70    NaN
2     CMG제약  58820  Dec-13    0.70   1.0     3.60    NaN
3     CMG제약  58820  Dec-14    3.60   0.0   -32.22    NaN
4     CMG제약  58820  Dec-15  -32.22   0.0  7777.00    NaN
...     ...    ...     ...     ...   ...      ...    ...
9015   흥아해운   3280  Dec-14    1.12   0.0     1.02    NaN
9016   흥아해운   3280  Dec-15    1.02   0.0     0.21    NaN
9017   흥아해운   3280  Dec-16    0.21   0.0    -0.42    NaN
9018   흥아해운   3280  Dec-17   -0.42   1.0    -1.16    NaN
9019   흥아해운   3280  Dec-18   -1.16   1.0      NaN    NaN

[9020 rows x 7 columns]

In [567]:
df_temp["회생기업2"] = df_temp["회생기업2"].shift().where(df['회사명']==(df['회사명']).shift())

In [568]:
df_temp

        회사명  거래소코드    회계년도  이자보상배율  부실기업     이보배2  회생기업3
0     CMG제약  58820  Dec-11    3.53   0.0    -7.75    NaN
1     CMG제약  58820  Dec-12   -7.75   0.0     0.70    NaN
2     CMG제약  58820  Dec-13    0.70   1.0     3.60    NaN
3     CMG제약  58820  Dec-14    3.60   0.0   -32.22    NaN
4     CMG제약  58820  Dec-15  -32.22   0.0  7777.00    NaN
...     ...    ...     ...     ...   ...      ...    ...
9015   흥아해운   3280  Dec-14    1.12   0.0     1.02    NaN
9016   흥아해운   3280  Dec-15    1.02   0.0     0.21    NaN
9017   흥아해운   3280  Dec-16    0.21   0.0    -0.42    NaN
9018   흥아해운   3280  Dec-17   -0.42   1.0    -1.16    NaN
9019   흥아해운   3280  Dec-18   -1.16   1.0      NaN    NaN

[9020 rows x 7 columns]

In [569]:
df_temp.to_csv("t_add3.csv", encoding="CP949")

In [570]:
df_xx = df_temp[["회사명","회생기업3"]].drop_duplicates()
df_xx.dropna()

            회사명  회생기업3
14        DB하이텍    1.0
255       까뮤이앤씨    1.0
288          남성    1.0
534        대양금속    1.0
570          대창    1.0
...         ...    ...
8488     티케이지애강    1.0
8518        파미셀    1.0
8524     팜젠사이언스    1.0
8851       한일철강    1.0
8939  현대바이오사이언스    1.0

[76 rows x 2 columns]