In [634]:
import pandas as pd
import numpy as np

In [635]:
# 경고가 많아지면 곤란해서 추가
import warnings
warnings.filterwarnings('ignore')

In [636]:
df = pd.read_csv("../../csv_data/use/true_data.csv", thousands=",", encoding="CP949")
df.drop(columns=["Unnamed: 0"], inplace=True)

In [637]:
df

,회사명,거래소코드,회계년도,매출원가감소율여부,이자보상배율,총자산증가율,유형자산증가율,유동자산증가율,자기자본증가율,매출액증가율,...,자본집약도,설비투자효율,총자본투자효율,부가가치율,종업원1인딩부가가치,배당금감소율여부,변화율여부,직원감소율여부,자본증가율여부,투자활동감소율여부
0,CMG제약,58820,2011-12,1,3.53,1.98,-5.90,17.64,-2.02,56.40,...,202.26,35.85819316,12.72,19.56,25719.78,0,0.0,0.0,0,0
1,CMG제약,58820,2012-12,0,-7.75,109.15,-4.12,207.08,75.17,-8.43,...,426.18,0,0.47,1.66,2009.78,0,0.0,0.0,1,1
2,CMG제약,58820,2013-12,0,0.70,-2.09,16.09,-18.89,55.10,25.51,...,411.12,77.91470318,12.51,34.29,51433.09,0,0.0,0.0,0,0
3,CMG제약,58820,2014-12,0,3.60,3.86,74.30,-25.93,0.01,11.52,...,354.08,37.80253285,12.16,31.04,43056.95,0,0.0,1.0,0,0
4,CMG제약,58820,2015-12,0,-32.22,-2.64,-5.37,-7.17,-4.48,18.85,...,362.39,0,7.63,15.96,27662.63,0,0.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9024,흥아해운,3280,2014-12,0,1.12,13.69,45.19,-13.68,7.76,7.17,...,859.92,27.87566308,13.89,10.93,119418.62,0,0.0,0.0,0,0
9025,흥아해운,3280,2015-12,0,1.02,21.93,49.36,-11.18,3.39,2.42,...,973.73,21.49400366,13.11,12.28,127665.82,0,0.0,0.0,0,0
9026,흥아해운,3280,2016-12,0,0.21,21.08,38.84,-25.08,11.22,-1.58,...,1017.55,15.81260955,10.98,12.66,111774.30,1,0.0,0.0,0,1
9027,흥아해운,3280,2017-12,0,-0.42,-11.43,-16.50,13.29,-39.28,0.56,...,921.78,8.349918093,5.43,5.51,50024.18,0,0.0,0.0,0,0
9028,흥아해운,3280,2018-12,0,-1.16,-5.33,-12.07,-6.33,-37.42,-9.87,...,1009.67,0,4.24,4.52,42782.54,1,0.0,NaN,0,0

In [638]:
df2 = df[["회사명", "거래소코드", "회계년도", "이자보상배율"]]

In [639]:
df2

        회사명  거래소코드     회계년도  이자보상배율
0     CMG제약  58820  2011-12    3.53
1     CMG제약  58820  2012-12   -7.75
2     CMG제약  58820  2013-12    0.70
3     CMG제약  58820  2014-12    3.60
4     CMG제약  58820  2015-12  -32.22
...     ...    ...      ...     ...
9024   흥아해운   3280  2014-12    1.12
9025   흥아해운   3280  2015-12    1.02
9026   흥아해운   3280  2016-12    0.21
9027   흥아해운   3280  2017-12   -0.42
9028   흥아해운   3280  2018-12   -1.16

[9029 rows x 4 columns]

In [640]:
# 다음 연도의 이자보상배율을 저장
df2['이보배2'] = df2['이자보상배율'].shift(-1).where(df2['회사명']==(df2['회사명']).shift(-1))
df2

        회사명  거래소코드     회계년도  이자보상배율    이보배2
0     CMG제약  58820  2011-12    3.53   -7.75
1     CMG제약  58820  2012-12   -7.75    0.70
2     CMG제약  58820  2013-12    0.70    3.60
3     CMG제약  58820  2014-12    3.60  -32.22
4     CMG제약  58820  2015-12  -32.22  303.00
...     ...    ...      ...     ...     ...
9024   흥아해운   3280  2014-12    1.12    1.02
9025   흥아해운   3280  2015-12    1.02    0.21
9026   흥아해운   3280  2016-12    0.21   -0.42
9027   흥아해운   3280  2017-12   -0.42   -1.16
9028   흥아해운   3280  2018-12   -1.16     NaN

[9029 rows x 5 columns]

In [641]:
# # 전체 기록
# count = 0
# company = df.iloc[0]['회사명']

# for i in range(0, len(df)):

#     # 회사명 다르면
#     if company != df.iloc[i]['회사명']:
#         # 회사명 기록하고
#         company = df.iloc[i]['회사명']
#         # 카운트 초기화하고
#         count = 0

#     #df.loc[i, 'count'] = count

#     # 이자보상배율이 0이면 탈출
#     if df.iloc[i]['이자보상배율'] == 0:
#         df.loc[i, '부실기업'] = 0
#         count = 0
#         continue

#     elif df.iloc[i]['이자보상배율'] < 1:
#          count += 1

#     else:
#         count = 0

#     # 이자보상배율에 따라 부실기업 여부 설정
#     if count > 1 and df.iloc[i]['이자보상배율'] >= 1:
#         df2.loc[i, '부실기업'] = 0
#         pass

#     elif count > 1 and df.iloc[i]['이자보상배율'] < 1:
#         df2.loc[i, '부실기업'] = 1

#     #f_test_x.append(df.loc[i])

In [642]:
# 전체 기록
count = 0
company = df.iloc[0]['회사명']

for i in range(0, len(df)):
    if df.iloc[i]['이자보상배율'] < 1:
        df2.loc[i, '부실기업'] = 1
    else:
        df2.loc[i, '부실기업'] = 0

In [643]:
df2['부실기업'] = df2['부실기업'].fillna(0)

In [644]:
df2

        회사명  거래소코드     회계년도  이자보상배율    이보배2  부실기업
0     CMG제약  58820  2011-12    3.53   -7.75   0.0
1     CMG제약  58820  2012-12   -7.75    0.70   1.0
2     CMG제약  58820  2013-12    0.70    3.60   1.0
3     CMG제약  58820  2014-12    3.60  -32.22   0.0
4     CMG제약  58820  2015-12  -32.22  303.00   1.0
...     ...    ...      ...     ...     ...   ...
9024   흥아해운   3280  2014-12    1.12    1.02   0.0
9025   흥아해운   3280  2015-12    1.02    0.21   0.0
9026   흥아해운   3280  2016-12    0.21   -0.42   1.0
9027   흥아해운   3280  2017-12   -0.42   -1.16   1.0
9028   흥아해운   3280  2018-12   -1.16     NaN   1.0

[9029 rows x 6 columns]

In [645]:
# t+1 이상의 기업들 중 살아난 기업 찾기
t_one = []
count = 0
count_for_f = 0
company = df2.iloc[0]['회사명']

for i in range(0, len(df2)):

    if company != df2.iloc[i]['회사명']:
        company = df2.iloc[i]['회사명']
        count = 0
        count_for_f = 0
        #continue #is it?

    elif count > 0:
        continue

    if df2.iloc[i]['부실기업'] == 1:
        count_for_f += 1
    else:
        count_for_f = 0 

    if count_for_f > 2:
        continue

    elif df2.iloc[i]['이자보상배율'] < 1 and df2.iloc[i]['이보배2'] >= 1 and df2.iloc[i]['부실기업']== 1 and count_for_f == 2:
        df2.loc[i, '회생기업1'] = 1
        count += 1

In [646]:
# t+2 이상의 기업들 중 살아난 기업 찾기
# 숫자 2 이상으로 조절해서 나가시면 됩니다
# 밑에 파일명 바꾸는 거 조심하시구요

t_two = []
count = 0
company = df2.iloc[0]['회사명']

for i in range(0, len(df2)):

    if company != df2.iloc[i]['회사명']:
        company = df2.iloc[i]['회사명']
        count = 0
        continue #is it?

    if df2.iloc[i]['회생기업1'] == 1:
        count += 1
        #t_two.append(df2.loc[i])
        continue

    # elif count == 1:
    #     if df2.iloc[i]['부실기업'] == 0:
    #         #t_two.append(df2.loc[i])
    #         count = 0

    elif count == 1:
        # 부실기업이 아니고 이자보상배율과 그 다음해 이자보상배율(이보배2)가 모두 1 이상으로 건실하다고 판단된 경우
        if df2.iloc[i]['부실기업'] == 0 and df2.iloc[i]['이자보상배율'] >= 1 and df2.iloc[i]['이보배2'] >= 1:
            #if df2.iloc[i]['이자보상배율'] < 1 and df2.iloc[i]['이보배2'] >= 1:
                df2.loc[i, "회생기업2"] = 1
        count += 1
        #t_two.append(df2.loc[i])
        continue

    else:
        t_two.append(df2.loc[i])

In [647]:
# # t+2 이상의 기업들 중 살아난 기업 찾기 (구)
# # 숫자 2 이상으로 조절해서 나가시면 됩니다
# # 밑에 파일명 바꾸는 거 조심하시구요

# t_two = []
# count = 0
# company = df2.iloc[0]['회사명']

# for i in range(0, len(df2)):

#     if company != df2.iloc[i]['회사명']:
#         company = df2.iloc[i]['회사명']
#         count = 0
#         continue #is it?

#     if df2.iloc[i]['부실기업'] == 1:
#         count += 1
#         #t_two.append(df2.loc[i])
#         continue

#     elif count == 1:
#         if df2.iloc[i]['부실기업'] == 0:
#             #t_two.append(df2.loc[i])
#             count = 0

#     elif count == 2:
#         # 부실기업이 아니고 이자보상배율과 그 다음해 이자보상배율(이보배2)가 모두 1 이상으로 건실하다고 판단된 경우
#         if df2.iloc[i]['부실기업'] == 0 and df2.iloc[i]['이자보상배율'] >= 1 and df2.iloc[i]['이보배2'] >= 1:
#             #if df2.iloc[i]['이자보상배율'] < 1 and df2.iloc[i]['이보배2'] >= 1:
#                 df2.loc[i, "회생기업2"] = 1
#         count += 1
#         #t_two.append(df2.loc[i])
#         continue

#     else:
#         t_two.append(df2.loc[i])

In [648]:
df2['회생기업1'] = df2['회생기업1'].shift().where(df2['회사명']==(df2['회사명']).shift())
df2['회생기업2'] = df2['회생기업2'].shift().where(df2['회사명']==(df2['회사명']).shift())

In [649]:
df2

        회사명  거래소코드     회계년도  이자보상배율    이보배2  부실기업  회생기업1  회생기업2
0     CMG제약  58820  2011-12    3.53   -7.75   0.0    NaN    NaN
1     CMG제약  58820  2012-12   -7.75    0.70   1.0    NaN    NaN
2     CMG제약  58820  2013-12    0.70    3.60   1.0    NaN    NaN
3     CMG제약  58820  2014-12    3.60  -32.22   0.0    1.0    NaN
4     CMG제약  58820  2015-12  -32.22  303.00   1.0    NaN    NaN
...     ...    ...      ...     ...     ...   ...    ...    ...
9024   흥아해운   3280  2014-12    1.12    1.02   0.0    NaN    NaN
9025   흥아해운   3280  2015-12    1.02    0.21   0.0    NaN    NaN
9026   흥아해운   3280  2016-12    0.21   -0.42   1.0    NaN    NaN
9027   흥아해운   3280  2017-12   -0.42   -1.16   1.0    NaN    NaN
9028   흥아해운   3280  2018-12   -1.16     NaN   1.0    NaN    NaN

[9029 rows x 8 columns]

In [650]:
df2.to_csv("t회생시험2.csv", encoding="CP949")

In [651]:
pd.DataFrame(t_one).to_csv("t_1.csv", encoding="CP949")

In [652]:
pd.DataFrame(t_two).to_csv("t_2.csv", encoding="CP949")